
# Java
*.class
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# Build / Gradle
target/
build/
lib/
bin/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar
.mtj.tmp/

# IDEs
.idea/
*.iml
*.ipr
*.iws
out/
.settings/
.metadata
.project
.classpath
.vscode/
.code-workspace
.spyderproject
.spyproject
.ropeproject

# NetBeans
nbproject/private/
nbbuild/
dist/
nbactions.xml
nb-configuration.xml

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Temporary files
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath
.DS_Store
